/*
 * Copyright 2013 Mobile Helix, Inc.
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

/**
 * Overrides of jQuery Mobile and PrimeFaces icon locations for use in a JSF context.
 * This file is NOT required when you are not using JSF.
 */

/* Icons
-----------------------------------------------------------------------------------------------------------*/
.ui-icon,
.ui-icon-searchfield:after {
	background-color: 						#666 /*{global-icon-color}*/;
	background-color: 						rgba(0,0,0,.4) /*{global-icon-disc}*/;
	background-image: url("#{resource['helix:images/icons-18-white.png']}"); /*{global-icon-set}*/
	background-repeat: no-repeat;
	-webkit-border-radius: 				9px;
	border-radius: 						9px;
}
/* Alt icon color
-----------------------------------------------------------------------------------------------------------*/
.ui-icon-alt .ui-icon,
.ui-icon-alt .ui-icon-searchfield:after {
	background-color: 						#fff;
	background-color: 						rgba(255,255,255,.3);
	background-image: url("#{resource['helix:images/icons-18-black.png']}");
        background-repeat: no-repeat;
}
 
/* HD/"retina" sprite
-----------------------------------------------------------------------------------------------------------*/
@media only screen and (-webkit-min-device-pixel-ratio: 1.3),
       only screen and (min--moz-device-pixel-ratio: 1.3),
       only screen and (min-resolution: 200dpi) {
	
	.ui-icon-plus, .ui-icon-minus, .ui-icon-delete, .ui-icon-arrow-r,
	.ui-icon-arrow-l, .ui-icon-arrow-u, .ui-icon-arrow-d, .ui-icon-check,
	.ui-icon-gear, .ui-icon-refresh, .ui-icon-forward, .ui-icon-back,
	.ui-icon-grid, .ui-icon-star, .ui-icon-alert, .ui-icon-info, .ui-icon-home, .ui-icon-bars, .ui-icon-edit,
	.ui-icon-search, .ui-icon-searchfield:after, 
	.ui-icon-checkbox-off, .ui-icon-checkbox-on, .ui-icon-radio-off, .ui-icon-radio-on {
                background-image: url("#{resource['helix:images/icons-36-white.png']}");
		-moz-background-size: 864px 18px;
		-o-background-size: 864px 18px;
		-webkit-background-size: 864px 18px;
		background-size: 864px 18px;
	}
	.ui-icon-alt .ui-icon {
                background-image: url("#{resource['helix:images/icons-36-black.png']}");
	}
}

/* loading icon */
.ui-icon.ui-icon-loading {
        background: url("#{resource['helix:images/ajax-loader.gif']}");
	background-size: 46px 46px;
}

/* Datebox */
.ui-icon-datebox { 
    background-image: url("#{resource['helix:images/datebox/datebox.png']}") !important; 
    background-repeat: no-repeat !important; 
    background-position: 99% 8px !important; 
}
.ui-icon-datebox-alt { 
    background-image: url("#{resource['helix:images/datebox/datebox.png']}") !important; 
    background-repeat: no-repeat !important; 
    background-position: 99% -28px !important; 
}

/* Custom filter icon on regular and retina screens. Could convert to base64 to avoid a load .... */
.ui-icon-filter {
    background-image: url("#{resource['helix:images/filter-18.png']}") !important; 
    background-repeat: no-repeat !important;
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.3),
       only screen and (min--moz-device-pixel-ratio: 1.3),
       only screen and (min-resolution: 200dpi) {
    .ui-icon-filter {
        background-image: url("#{resource['helix:images/filter-36.png']}") !important; 
        background-repeat: no-repeat !important;
        -moz-background-size: 18px 18px;
        -o-background-size: 18px 18px;
        -webkit-background-size: 18px 18px;
        background-size: 18px 18px;
    }
}


.ui-field-contain .ui-input-datebox {
    width: auto;
}

.ui-input-datebox .ui-input-text {
    width: auto;
}

/* Fixes the page header jumping to the middle of the screen. See:
    http://stackoverflow.com/questions/13514163/header-jump-to-the-middle-of-screen-jquerymobile
 */
.ui-header-fixed {
    position: absolute;
}

/* Create a little more room in the jQM listview layout. */
.ui-li-has-arrow .ui-btn-inner a.ui-link-inherit {
    padding-right: 30px;
}

/* Move the icon in a datalist over a bit. */
.ui-li-has-arrow.ui-btn-icon-right .ui-icon  {
    right: 10px;
}