/*
 * Copyright 2013 Mobile Helix, Inc.
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */ 
.hx-split-master {
    padding-top: 2px;
}

.hx-split-left-area {
    float: left;
    background-color: white;
    border: 1px solid black;
    border-radius: 10px 10px 0px 0px;
}

.hx-split-right-area {
    float: right;
    background-color: white;
    border: 1px solid black;
    border-radius: 10px 10px 0px 0px;
}   

.hx-split-full {
    width: 100%;
    height: 100%;
    background-color: white;
}

/**
 * List views will leak out of the split view if we don't 
 * override JQM's default -15px margin.
 */
.hx-split-left-area ul[data-role="listview"] {
    margin: 0px;
}

/**
 * List views will leak out of the split view if we don't 
 * override JQM's default -15px margin.
 */
.hx-split-right-area ul[data-role="listview"] {
    margin: 0px;
}

.pm-scroller {
    height: 100%;
}

.pm-scroller-horizontal {
    display: inline-block;
    height: auto;
}

.pm-scroller-horizontal div div {
    display: inline;
    float: left;
}

.buttonbar {
    padding-left: 5px;
    padding-right: 5px;
}

.sh-hbutton { 
    text-decoration: none;
    color: black;
    display: inline;
    background-repeat: no-repeat;
    -moz-background-size:80% 80%; /* Firefox 3.6 */
    background-size:80% 80%;
    padding: 4px 4px 4px 4px;
    background-position: center top; 
    /* Eventually customized based on iPhone/iPad. */
    width: 64px;
    height: 64px;
}

.sh-hbutton-left {
    float: left;
}

.sh-hbutton-right {
    float: right;
}

.sh-hbutton span {
    padding: 0 0 0 0;
    background: none;
    display:block; 
    height:100%;
    margin-top:80%;
}

.sh-uiborder-left {
    border-left-color: #4F4F4F;
    border-left-style: solid;
    border-left-width: 1px;
}

.sh-uiborder-bottom {
    border-bottom-color: #4F4F4F;
    border-bottom-style: solid;
    border-bottom-width: 1px;
}

.iconbutton {
    width: 60px;
    height: 64px;    
}

.iconbutton .ui-btn-inner {
    text-overflow: none;
    padding: 0.6em 0 45px;
}

.iconbutton .ui-btn-inner .ui-btn-text {
    font-size: x-small;
}

.iconbutton .ui-btn-inner .ui-icon {
    left: 25%;
    top: 35%;
    margin-left: 0px;
    width: 32px;
    height: 32px;
    border-radius: 0 0 0 0;
    background-color: transparent;
}

/**
 * On small screens, turn the iconButton into a much more compact button.
 */
@media all and (max-width: 500px) {
    .iconbutton {
        width: 40px;
        height: 45px;    
    }

    .iconbutton .ui-btn-inner {
        padding: 0.4em 0 25px;
    }

    .iconbutton .ui-btn-inner .ui-btn-text {
        font-size: x-small;
    }

    .iconbutton .ui-btn-inner .ui-icon {
        left: 0;
        top: 10%;
    }

    .iconbutton .ui-btn-text {
        display: none;
    }    
}

.ui-controlgroup-controls {
    width: 100%;
}

.ui-layout-unit .ui-layout-unit-content {
    padding: 0 0;
}

/* These icons do not exist in jqmobile. */
.ui-icon-circle-triangle-w {
    background-position: 	-396px 50%;
}

.ui-icon-circle-triangle-e {
    background-position: 	-360px 50%;
}

/* Override transparent backgrounds on dialog boxes in JQM. Make the background
 * solid white instead.
 */
.ui-dialog {
    background: none repeat scroll 0 0 #FFFFFF !important;
}

/* The heavy grey background doesn't look right in mobile. */
.ui-widget-header { 
    background: none;
}

/* No padding on page content. If there is padding, it often causes scrolling given the
   way our tools layout pages. */
.ui-content {
    padding: 0px;
}

/* Override the default for list views, which puts the selector indicator 10px off the
 * right of the screen. This is too close for my taste.
 */
.ui-btn-icon-right .ui-icon { right: 15px; }

/* Prevent jQuery enhancement from displaying a div above a file input image. */
.ui-upload-icon div.ui-input-text {
    margin: 0px !important;
}



.hx-listview li:not(.ui-btn-active) {
    background-color: white;
}

/* Fixes a bug in mobile safari where components that appear off screen (or even on
   the edge of a screen) on a screen that scrolls do not render properly when the
   screen is scrolled or the keyboard appears. This particularly shows up in the
   e-mail app, compose page, in landscape mode. Without this styling when one taps
   and types in the compose box the entire screen goes blank. See 
   
    http://stackoverflow.com/questions/9807620/ipad-safari-scrolling-causes-html-elements-to-disappear-and-reappear-with-a-dela
   
    for the source of the fix.
*/
.hx-scrolling-page *:not(html) {
    -webkit-transform: translate3d(0, 0, 0);
}

/* Scrolling elements should have this style. */
.hx-scroller-nozoom {
    overflow-y: scroll;
}

.hx-no-scroll {
    overflow-y: hidden;
    overflow-x: hidden;
}

/* Causing problems on iOS 6+. We are not supporting iOS 5. -webkit-overflow-scrolling: touch; */

/* Horizontal scrolling elements should have this style. */
.hx-horizontal-scroller-nozoom {
    overflow-x: scroll;
    white-space: nowrap;
    display: inline-block;
}
/* Causing problems on iOS 6+. We are not supporting iOS 5. -webkit-overflow-scrolling: touch; */

/**/
img { 
    -webkit-touch-callout: none !important;
}
div {
    -webkit-touch-callout: none !important;
}

a {
    -webkit-touch-callout: none !important;
}

/*a { -webkit-user-select: none !important; }*/

/* Without this override our datalist component is cut off inside of overlay panels. */
.ui-content .ui-listview, .ui-panel-inner > .ui-listview { margin: 0px; }

/* Special styles for mini forms (on phones, or because jQM can be rather bulbous). */
.hx-mini-fieldcontain {
    padding: .2em;
    margin-bottom: .1em;
    margin-top: .5em;
}

.hx-fieldview {
    padding: .1em;
    margin-bottom: .1em;
    margin-top: 0em;
    width: auto;
}

.hx-mini-fieldview {
    padding: 0em;
    margin-bottom: 0em;
    margin-top: 0em;
    width: auto;
}

.hx-mini-fieldcontain .ui-input-datebox {
    padding: .2em;
}

.hx-mini-fieldcontain .ui-input-text .ui-body-c {
    font-size: small;
}

.hx-mini-fieldcontain textarea.ui-input-text {
    font-size: small;
}

.hx-mini-fieldcontain .ui-btn-text {
    font-size: x-small;
}

.hx-display-inline {
    display: inline-block;
}

.hx-full-width {
    width: 100%;
}

/* Highlight the current sort. */
.hx-current-sort a.ui-link-inherit {
    color: orange !important;
}

.hx-no-hscroll {
    overflow-x: hidden;
}

.hx-no-vscroll {
    overflow-y: hidden;
}

/* On iOS, scrolling blocks can show a very distracting flicker. According to this site:
    https://gist.github.com/bdalziel/3005482
   the CSS below fixes the flicker. It does seem to work.
*/
li {
    -webkit-backface-visibility: hidden;
    -webkit-transform: translate3d(0,0,0);
}